body{
  margin: 0 auto;
}
div h1{
  display: inline;

}
h1{
  text-transform: uppercase;
}
#fighterText{
  font-size: 5em;
}
#namebar{
  display:grid;
  grid-template: 100%/10% 20% 70%;
  background-color: black;
  color: white;
}
#namebar a {
  text-align: right;
  color: rgb(130, 130, 130);
  text-decoration: none;
  font-size: 1.5em;
}
#namebar img{
  height: 200px;
  width: 50%;
}
body{
  background-image: url("https://www.smashbros.com/assets_v2/img/fighter/daisy/bg.jpg");

}
#selfie{
  display: grid;
  grid-template: auto/10% 20% 70%;
}
